In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
data = pd.read_csv('50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
data.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [5]:
data.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [6]:
x = data[['R&D Spend','Administration','Marketing Spend']]
y = data['Profit']

In [7]:
x

    R&D Spend  Administration  Marketing Spend
0   165349.20       136897.80        471784.10
1   162597.70       151377.59        443898.53
2   153441.51       101145.55        407934.54
3   144372.41       118671.85        383199.62
4   142107.34        91391.77        366168.42
5   131876.90        99814.71        362861.36
6   134615.46       147198.87        127716.82
7   130298.13       145530.06        323876.68
8   120542.52       148718.95        311613.29
9   123334.88       108679.17        304981.62
10  101913.08       110594.11        229160.95
11  100671.96        91790.61        249744.55
12   93863.75       127320.38        249839.44
13   91992.39       135495.07        252664.93
14  119943.24       156547.42        256512.92
15  114523.61       122616.84        261776.23
16   78013.11       121597.55        264346.06
17   94657.16       145077.58        282574.31
18   91749.16       114175.79        294919.57
19   86419.70       153514.11             0.00
20   76253.86       113867.30        298664.47
21   78389.47       153773.43        299737.29
22   73994.56       122782.75        303319.26
23   67532.53       105751.03        304768.73
24   77044.01        99281.34        140574.81
25   64664.71       139553.16        137962.62
26   75328.87       144135.98        134050.07
27   72107.60       127864.55        353183.81
28   66051.52       182645.56        118148.20
29   65605.48       153032.06        107138.38
30   61994.48       115641.28         91131.24
31   61136.38       152701.92         88218.23
32   63408.86       129219.61         46085.25
33   55493.95       103057.49        214634.81
34   46426.07       157693.92        210797.67
35   46014.02        85047.44        205517.64
36   28663.76       127056.21        201126.82
37   44069.95        51283.14        197029.42
38   20229.59        65947.93        185265.10
39   38558.51        82982.09        174999.30
40   28754.33       118546.05        172795.67
41   27892.92        84710.77        164470.71
42   23640.93        96189.63        148001.11
43   15505.73       127382.30         35534.17
44   22177.74       154806.14         28334.72
45    1000.23       124153.04          1903.93
46    1315.46       115816.21        297114.46
47       0.00       135426.92             0.00
48     542.05        51743.15             0.00
49       0.00       116983.80         45173.06

In [8]:
states = pd.get_dummies(data['State'])

In [9]:
states

    California  Florida  New York
0            0        0         1
1            1        0         0
2            0        1         0
3            0        0         1
4            0        1         0
5            0        0         1
6            1        0         0
7            0        1         0
8            0        0         1
9            1        0         0
10           0        1         0
11           1        0         0
12           0        1         0
13           1        0         0
14           0        1         0
15           0        0         1
16           1        0         0
17           0        0         1
18           0        1         0
19           0        0         1
20           1        0         0
21           0        0         1
22           0        1         0
23           0        1         0
24           0        0         1
25           1        0         0
26           0        1         0
27           0        0         1
28           0        1         0
29           0        0         1
30           0        1         0
31           0        0         1
32           1        0         0
33           0        1         0
34           1        0         0
35           0        0         1
36           0        1         0
37           1        0         0
38           0        0         1
39           1        0         0
40           1        0         0
41           0        1         0
42           1        0         0
43           0        0         1
44           1        0         0
45           0        0         1
46           0        1         0
47           1        0         0
48           0        0         1
49           1        0         0

In [10]:
data = pd.concat([data,states],axis=1)

In [11]:
data

,R&D Spend,Administration,Marketing Spend,State,Profit,California,Florida,New York
0,165349.20,136897.80,471784.10,New York,192261.83,0,0,1
1,162597.70,151377.59,443898.53,California,191792.06,1,0,0
2,153441.51,101145.55,407934.54,Florida,191050.39,0,1,0
3,144372.41,118671.85,383199.62,New York,182901.99,0,0,1
4,142107.34,91391.77,366168.42,Florida,166187.94,0,1,0
5,131876.90,99814.71,362861.36,New York,156991.12,0,0,1
6,134615.46,147198.87,127716.82,California,156122.51,1,0,0
7,130298.13,145530.06,323876.68,Florida,155752.60,0,1,0
8,120542.52,148718.95,311613.29,New York,152211.77,0,0,1
9,123334.88,108679.17,304981.62,California,149759.96,1,0,0
10,101913.08,110594.11,229160.95,Florida,146121.95,0,1,0
11,100671.96,91790.61,249744.55,California,144259.40,1,0,0
12,93863.75,127320.38,249839.44,Florida,141585.52,0,1,0
13,91992.39,135495.07,252664.93,California,134307.35,1,0,0
14,119943.24,156547.42,256512.92,Florida,132602.65,0,1,0
15,114523.61,122616.84,261776.23,New York,129917.04,0,0,1
16,78013.11,121597.55,264346.06,California,126992.93,1,0,0
17,94657.16,145077.58,282574.31,New York,125370.37,0,0,1
18,91749.16,114175.79,294919.57,Florida,124266.90,0,1,0
19,86419.70,153514.11,0.00,New York,122776.86,0,0,1
20,76253.86,113867.30,298664.47,California,118474.03,1,0,0
21,78389.47,153773.43,299737.29,New York,111313.02,0,0,1
22,73994.56,122782.75,303319.26,Florida,110352.25,0,1,0
23,67532.53,105751.03,304768.73,Florida,108733.99,0,1,0
24,77044.01,99281.34,140574.81,New York,108552.04,0,0,1
25,64664.71,139553.16,137962.62,California,107404.34,1,0,0
26,75328.87,144135.98,134050.07,Florida,105733.54,0,1,0
27,72107.60,127864.55,353183.81,New York,105008.31,0,0,1
28,66051.52,182645.56,118148.20,Florida,103282.38,0,1,0
29,65605.48,153032.06,107138.38,New York,101004.64,0,0,1
30,61994.48,115641.28,91131.24,Florida,99937.59,0,1,0
31,61136.38,152701.92,88218.23,New York,97483.56,0,0,1
32,63408.86,129219.61,46085.25,California,97427.84,1,0,0
33,55493.95,103057.49,214634.81,Florida,96778.92,0,1,0
34,46426.07,157693.92,210797.67,California,96712.80,1,0,0
35,46014.02,85047.44,205517.64,New York,96479.51,0,0,1
36,28663.76,127056.21,201126.82,Florida,90708.19,0,1,0
37,44069.95,51283.14,197029.42,California,89949.14,1,0,0
38,20229.59,65947.93,185265.10,New York,81229.06,0,0,1
39,38558.51,82982.09,174999.30,California,81005.76,1,0,0
40,28754.33,118546.05,172795.67,California,78239.91,1,0,0
41,27892.92,84710.77,164470.71,Florida,77798.83,0,1,0
42,23640.93,96189.63,148001.11,California,71498.49,1,0,0
43,15505.73,127382.30,35534.17,New York,69758.98,0,0,1
44,22177.74,154806.14,28334.72,California,65200.33,1,0,0
45,1000.23,124153.04,1903.93,New York,64926.08,0,0,1
46,1315.46,115816.21,297114.46,Florida,49490.75,0,1,0
47,0.00,135426.92,0.00,California,42559.73,1,0,0
48,542.05,51743.15,0.00,New York,35673.41,0,0,1
49,0.00,116983.80,45173.06,California,14681.40,1,0,0

In [29]:
x = data[['R&D Spend','Administration','Marketing Spend','Florida','New York']]
y = data['Profit']

In [30]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)
model = LinearRegression()

In [31]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
preds = model.predict(x_test)

In [33]:
model.score(x_train,y_train)

0.9537019995248526

In [34]:
preds

array([126362.87908255,  84608.45383634,  99677.49425147,  46357.46068582,
       128750.48288504,  50912.4174188 , 109741.35032702, 100643.24281647,
        97599.27574594, 113097.42524432])

In [35]:
y_test

13    134307.35
39     81005.76
30     99937.59
45     64926.08
17    125370.37
48     35673.41
26    105733.54
25    107404.34
32     97427.84
19    122776.86
Name: Profit, dtype: float64

In [23]:
import statsmodels.api as sm

In [36]:
x = np.append(arr = np.ones((50,1)).astype(int), values = x, axis = 1)

In [37]:
x_opt = x
regressor_ols = sm.OLS(endog=y,exog=x_opt).fit()

In [38]:
regressor_ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Profit   R-squared:                       0.951
Model:                            OLS   Adj. R-squared:                  0.945
Method:                 Least Squares   F-statistic:                     169.9
Date:                Thu, 15 Oct 2020   Prob (F-statistic):           1.34e-27
Time:                        22:40:12   Log-Likelihood:                -525.38
No. Observations:                  50   AIC:                             1063.
Df Residuals:                      44   BIC:                             1074.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       5.013e+04   6884.820      7.281      0.000    3.62e+04     6.4e+04
x1             0.8060      0.046     17.369      0.000       0.712       0.900
x2            -0.0270      0.052     -0.517      0.608      -0.132       0.078
x3             0.0270      0.017      1.574      0.123      -0.008       0.062
x4           198.7888   3371.007      0.059      0.953   -6595.030    6992.607
x5           -41.8870   3256.039     -0.013      0.990   -6604.003    6520.229
==============================================================================
Omnibus:                       14.782   Durbin-Watson:                   1.283
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               21.266
Skew:                          -0.948   Prob(JB):                     2.41e-05
Kurtosis:                       5.572   Cond. No.                     1.45e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.45e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [43]:
x_opt = x[:,[0,1,2,3,4]]
regressor_ols = sm.OLS(endog=y,exog=x_opt).fit()
regressor_ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Profit   R-squared:                       0.951
Model:                            OLS   Adj. R-squared:                  0.946
Method:                 Least Squares   F-statistic:                     217.2
Date:                Thu, 15 Oct 2020   Prob (F-statistic):           8.49e-29
Time:                        22:51:50   Log-Likelihood:                -525.38
No. Observations:                  50   AIC:                             1061.
Df Residuals:                      45   BIC:                             1070.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       5.011e+04   6647.870      7.537      0.000    3.67e+04    6.35e+04
x1             0.8060      0.046     17.606      0.000       0.714       0.898
x2            -0.0270      0.052     -0.523      0.604      -0.131       0.077
x3             0.0270      0.017      1.592      0.118      -0.007       0.061
x4           220.1585   2900.536      0.076      0.940   -5621.821    6062.138
==============================================================================
Omnibus:                       14.758   Durbin-Watson:                   1.282
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               21.172
Skew:                          -0.948   Prob(JB):                     2.53e-05
Kurtosis:                       5.563   Cond. No.                     1.40e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.4e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [44]:
x_train, x_test, y_train, y_test = train_test_split(x_opt,y,test_size=0.2,random_state=42)
model1 = LinearRegression()
model1.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [46]:
model1.score(x_train,y_train)

0.9537019951144616

In [47]:
preds1 = model.predict(x_test)

In [49]:
from sklearn.metrics import r2_score
r2_score(y_test,preds)

0.8987266414328638

In [50]:
r2_score(y_test,preds1)

-24118251.852353394

Is that even an r2 score ?